<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test  name="chromeTests">
  <parameter name="browsername" value="chrome"></parameter>
    <classes>
      <class name="com.jan23.pages.Home.BasePage"/>
       <class name="com.jan23.pages.Test.TestPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->